<!-- Header Section -->
<div id="header-content">
  <header class="header">
    <div class="container-header">
      <!-- Logo -->
      <div class="logo">
        <a href="../index.html">
          <img src="../assets/Logo.png" alt="Logo">
        </a>
      </div>
      <!-- Hamburger Menu -->
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <!-- Navigation Menu -->
      <nav class="menu">
        <ul id="nav-list">
          <li><a href="#">About Us</a></li>
          <li><a href="../pages/services.html">Services</a></li>
          <!-- <li><a href="#">Insights</a></li> -->
          <li><a href="#">Career</a></li>
          <li><a href="#" class="button">Let's Talk</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>




<!-- Footer Section -->
<div id="footer-content">
  <footer class="footer">
    <div class="container-footer">
      <!-- Left Section -->
      <div class="footer-left">
        <a href="../index.html">
          <img src="../assets/Logo_JPG.jpg" alt="Logo" class="footer-logo">
        </a>
        <br><br>
        <address>New delhi, India <br><br>
          <a href="mailto:connect2uttam2409@gmail.com">connect2uttam2409@gmail.com</a>
        </address>
        <br>
        <div class="social-links">
          • <a href="#">Facebook</a> • <a href="#">Twitter</a> • <a href="#">LinkedIn</a> • <a href="#">Instagram</a>
        </div>
      </div>
      <!-- Right Section -->
      <div class="footer-right">
        <h3>Newsletter Signup</h3>
        <form action="#" method="post" class="newsletter-form">
          <input type="text" name="name" placeholder="Name" required>
          <input type="email" name="email" placeholder="Your e-mail address" required>
          <button type="submit">Sign up</button>
        </form>

        <br>
        <p>© BEHIND THE SUCCESS Consulting</p>
      </div>
    </div>
  </footer>
</div>
