/* Header Styles */
.header {
  background-color: #008080;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.logo img {
  height: 75px;
  border-radius: 20px 0 15px 0;
  width: auto;
}
.menu ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.menu ul.active {
  display: flex; /* Show menu when 'active' class is added */
  flex-direction: column;
  position: absolute;
  margin-top: 30px;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #008080;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}


.menu ul li a {
  text-decoration: none;
  color: #F5F5F5;
  font-weight: 600;
  transition: color 0.3s ease;
}
.menu ul li a:hover {
  color: #50C878;
}
.button {
  background-color: #708090;
  color: #50C878;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.button:hover {
  background-color: #002855;
}
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 3rem;
}
.menu-toggle .bar {
  background-color: #FFD700;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  transition: 0.3s;
}
/* Responsive Menu */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex; /* Show Hamburger Menu */
  }
  .menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  .menu ul.active {
    display: flex; /* Show menu when active */
  }
  .menu ul li {
    margin: 10px 0;
  }
}





/* Footer Styles */
#footer-content {
  background-color: #008080; /* Calm Teal */
  font-family: 'Poppins', sans-serif;
}
.footer-container {
  max-width: 1200px;
  /* background-color: #008080; */
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.footer-logo img {
  height: 75px;
  width: auto;
  border-radius: 20px 0 15px 0;
}
.footer-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer-social a {
  color: #F5F5F5;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}
.footer-social a:hover {
  color: #50C878;
}
.footer-bottom {
  margin-top: 1.5rem;
  background-color: #006666; /* A darker teal */
  color: #50C878;
  text-align: center;
  border-top: 1px solid #ffffff33;
  padding: 0.5rem;
  font-size: 1rem;
}

/* Responsive Design for Mobile and Tablet */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }
  .footer-logo img {
    margin-bottom: 1rem;
  }
  .footer-social {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer-social a {
    font-size: 1.2rem;
  }
  #footer-content {
    padding: 1.5rem 0.5rem;
  }
}

